body {
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/4d/31/5d/4d315d36c60bf63431dcc8c10ebf0b0e.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.quote-wrapper {
	background-color: rgba(128, 128, 128, 0.8);
	font-size: 67px;
	min-width: 50%;
	min-height: 20%;
	padding: 12px;
	color: white;
	margin: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container-hover .quote-wrapper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.quote-wrapper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
